In [2]:
import pandas as pd
import statsmodels.api as sm

data = pd.read_csv("data/1_american_dataset.csv")

In [3]:
print(data['cik'].nunique())

8971

In [4]:
# drop non-numerical attributes from the data
data = data.select_dtypes(include=['float64','int64'])
data.head()

,cik,fyear,current_assets,total_assets,cost_of_goods_sold,total_long_term_debt,depreciation_and_amortization,ebit,ebitda,gross_profit,...,total_current_liabilities,net_income,retained_earnings,total_receivables,total_revenue,market_value,total_liabilities,net_sales,total_operating_expenses,status
0,1750,1999.0,511.267,740.998,833.107,180.447,18.373,70.658,89.031,191.226,...,163.816,35.163,201.026,128.348,1024.333,372.7519,401.483,1024.333,935.302,0
1,1750,2000.0,485.856,701.854,713.811,179.987,18.577,45.790,64.367,160.444,...,125.392,18.531,204.065,115.187,874.255,377.1180,361.642,874.255,809.888,0
2,1750,2001.0,436.656,710.199,526.477,217.699,22.496,4.711,27.207,112.244,...,150.464,-58.939,139.603,77.528,638.721,364.5928,399.964,638.721,611.514,0
3,1750,2002.0,396.412,686.621,496.747,164.658,27.172,3.573,30.745,109.590,...,203.575,-12.410,124.106,66.322,606.337,143.3295,391.633,606.337,575.592,0
4,1750,2003.0,432.204,709.292,523.302,248.666,26.680,20.811,47.491,128.656,...,131.261,3.504,131.884,104.661,651.958,308.9071,407.608,651.958,604.467,0

In [75]:
grouped_data = data.groupby('cik')

In [76]:
grouped_data.first()

,fyear,current_assets,total_assets,cost_of_goods_sold,total_long_term_debt,depreciation_and_amortization,ebit,ebitda,gross_profit,inventory,total_current_liabilities,net_income,retained_earnings,total_receivables,total_revenue,market_value,total_liabilities,net_sales,total_operating_expenses,status
cik,,,,,,,,,,,,,,,,,,,,
20,1999.0,35.775,54.770,46.171,7.252,2.760,9.139,11.899,41.716,10.193,21.718,6.759,26.652,20.500,87.887,39.5280,29.560,87.887,75.988,0
1750,1999.0,511.267,740.998,833.107,180.447,18.373,70.658,89.031,191.226,336.018,163.816,35.163,201.026,128.348,1024.333,372.7519,401.483,1024.333,935.302,0
1800,1999.0,6419.754,14471.044,4981.177,1336.789,828.006,3333.575,4161.581,8196.448,1495.444,4516.711,2445.759,5745.678,2487.640,13177.625,56176.1638,7043.449,13177.625,9016.044,0
1923,1999.0,32.300,102.846,152.664,51.930,3.068,8.804,11.872,21.469,2.352,21.480,-0.457,17.725,20.031,174.133,11.0100,80.500,174.133,162.261,0
1952,1999.0,47.342,55.345,108.065,0.000,0.375,4.346,4.721,28.214,5.329,23.293,2.621,33.398,30.901,136.279,9.1375,30.664,136.279,131.558,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687932,2017.0,132.468,597.557,234.065,238.881,35.600,74.892,110.492,464.080,80.591,105.520,55.365,61.486,4.733,698.145,369.7129,418.241,698.145,587.653,0
1688476,2017.0,376.094,1043.116,1267.078,278.511,159.280,26.447,185.727,275.003,33.437,242.154,-36.141,-29.100,238.018,1542.081,2125.9073,530.024,1542.081,1356.354,0
1688941,2017.0,548.658,1354.177,1462.226,592.681,76.850,70.075,146.925,598.676,184.436,242.278,82.480,48.538,339.485,2060.902,633.9734,975.513,2060.902,1913.977,0
1690666,2003.0,68.254,70.081,5.840,0.000,0.895,10.786,11.681,31.481,0.000,4.092,9.355,-91.074,2.540,37.321,723.6959,4.092,37.321,25.640,0
1702744,2017.0,133.911,922.488,209.950,191.856,9.617,57.330,66.947,186.221,29.062,33.244,-2.035,-12.142,37.181,396.171,836.9418,323.786,396.171,329.224,0

In [77]:
grouped_data.get_group(61478)

,cik,fyear,current_assets,total_assets,cost_of_goods_sold,total_long_term_debt,depreciation_and_amortization,ebit,ebitda,gross_profit,...,total_current_liabilities,net_income,retained_earnings,total_receivables,total_revenue,market_value,total_liabilities,net_sales,total_operating_expenses,status
19,61478,1999.0,1029.438,1672.529,930.142,11.024,102.09,311.649,413.739,996.805,...,412.954,87.635,827.489,436.751,1926.947,7161.3749,423.978,1926.947,1513.208,0
20,61478,2000.0,2650.900,3970.500,1567.100,16.500,146.20,523.900,670.100,1720.800,...,1041.300,868.100,1843.800,714.300,3287.900,16465.1625,1057.800,3287.900,2617.800,0
21,61478,2001.0,1305.200,2499.700,1484.200,3.000,197.80,-253.400,-55.600,918.600,...,599.400,-1287.700,495.600,280.700,2402.800,3603.6000,606.300,2402.800,2458.400,0
22,61478,2002.0,686.300,1144.200,677.600,10.800,104.70,-297.100,-192.400,370.100,...,397.800,-1145.000,-688.000,140.900,1047.700,1263.3680,412.000,1047.700,1240.100,0
23,61478,2003.0,1006.000,1296.900,422.600,400.000,59.20,-39.300,19.900,350.600,...,265.500,-76.700,-771.200,141.200,773.200,2072.9620,669.200,773.200,753.300,0
24,61478,2004.0,835.600,1428.100,440.700,400.000,41.70,36.500,78.200,343.600,...,302.000,16.400,-747.100,194.500,784.300,1790.3210,768.800,784.300,706.100,0
25,61478,2005.0,853.000,1535.000,681.100,400.000,67.20,91.800,159.000,488.100,...,286.600,110.700,-648.500,233.700,1169.200,2032.9250,761.100,1169.200,1010.200,0
26,61478,2006.0,942.700,1611.400,801.100,400.000,67.80,72.600,140.400,480.800,...,260.100,65.700,-567.400,193.100,1281.900,1677.1320,737.900,1281.900,1141.500,0
27,61478,2007.0,1008.200,1764.800,827.500,200.600,67.20,100.700,167.900,494.700,...,474.100,106.300,-448.200,223.700,1322.200,2199.1200,757.200,1322.200,1154.300,0
28,61478,2008.0,1077.400,1921.000,870.700,650.700,82.40,90.900,173.300,585.700,...,278.000,-41.900,-505.600,240.600,1456.400,705.6420,1006.800,1456.400,1283.100,0
29,61478,2009.0,900.200,1343.600,600.500,651.000,66.40,18.300,84.700,396.200,...,236.000,-474.300,-979.300,200.300,996.700,805.6440,987.400,996.700,912.000,0
30,61478,2010.0,1107.700,1474.500,677.200,650.800,61.50,59.900,121.400,479.400,...,288.700,62.000,-918.400,252.500,1156.600,1231.5240,1040.100,1156.600,1035.200,0

In [5]:
import seaborn as sns
# import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [6]:
model = LinearRegression()

# select only the features
X = grouped_data.drop('status', axis=1)
#target variable
y = grouped_data['status']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'grouped_data' is not defined